*{
	
	box-sizing: border-box;
}

html{
font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: "Roboto",san-serif;
	margin: 0px;
	width: 90%;
	margin: auto;

}
.titulo{
	font-size: 7rem;
	font-family: 'El Messiri', sans-serif;
	padding-left: 20px;
	margin: 0px;
}

.titulo-a{
	font-size: 2.4rem;
	font-weight: 300;
	padding-left: 20px;
	margin: 0px;
}
.titulo-b{
	font-size: 5rem;
	font-family: 'El Messiri', sans-serif;
	margin-bottom: 25px;

}
button{
	
	width: 100px;
	padding:  5px;
	margin: 20px;	
}
.guitarras{
	color: #1F3130;
}

.guitarras h2{
	font-size: 3.5rem;
}
.portada{
	background-image: url('../images/background.png');
	color: #FFFFFF;
	padding: 30px;
}
.menu{
	font-size: 2.4rem;
}
.menu{
	display: inline-block;
}
.menu li{
	display: inline-block;
	border: 2px solid red;
	margin-left: 20px;
}
