*{
	
	box-sizing: border-box;
}

html{
font-size: 62.5%;
}
body{
	font-size: 1.6rem;
	font-family: "Roboto",san-serif;

}
.titulo{
	font-size: 7rem;
	font-family: 'El Messiri', sans-serif;
}

.titulo-a{
	font-size: 2.4rem;
	font-weight: 300;
}
.titulo-b{
	font-size: 5rem;
	font-family: 'El Messiri', sans-serif;

}
.guitarras{
	color: #1F3130;
}

.guitarras h2{
	font-size: 3.5rem;
}
.portada{
	background-image: url('../images/background.png');
	color: #FFFFFF;
}
.menu{
	font-size: 2.4rem;
}
